<h1>Jamie Gordon</h1>
<p>
  That's me.
</p>
<p>Here are some projects to look at if you want:</p>
<ul>
  <li><%= link_to 'Flop Charts (WIP)', 'http://flopcharts.com' %></li>
  <li>
    <%= link_to 'The Worst Report', 'http://theworstreport.com' %>
    <ul>
      <li>
        <strong>Description:</strong> 
        A very silly project making fun of what I consider stupid band names.  
        As the disclaimer says, I have no opinions listed on the bands themselves just on the quality of the names.  
        Has not been updated in a long time.
      </li>
      <li>Ruby on Rails (Postgres)</li>
      <li>Sign in with Google</li>
      <li>Hosted on Heroku</li>
      <li>Foundation</li>
    </ul>
  </li>
  <li>
    <%= link_to('This Site', 'http://jamiesgordon.com') %>
    <ul>
      <li>Ruby on Rails</li>
      <li>Foundation Theme</li>
      <li>(Some) React</li>
      <li>(Some) Webpack</li>
      <li>(Some) Typescript</li>
      <li>CSS, SCSS, all that style stuff</li>
      <li>HTML (duh)</li>
      <li>LaTex (for Resume)</li>
    </ul>
  </li>
</ul>
