<!DOCTYPE html>
<html>
  <head>
    <title>One English Word</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>

    <style type="text/css">
      @keyframes fadeIn {
        to { opacity: 1; }
      }

      @keyframes fadeOut {
        to { opacity: 0; }
      }

      .fade-in {
        opacity: 0;
        animation: fadeIn 1s ease-in 1 forwards;
      }

      .fade-out {
        opacity: 1;
        animation: fadeOut 1s ease-in 1 forwards;

      }

      body {
        background: #2980b9;
        font-family: 'Raleway', sans-serif;
        color: white;
        transition: all 2s linear;
      }

      a {
        color: white;
      }

      #credit {
        position: absolute;
        text-align: left;
        top: 5px;
        left: 5px;
      }

      .center {
        text-align: center;
        width: 100%;
        height: 100%;
        padding-top: 5%;
      }

      #word {
        margin: 25px 0 0 0;
        font-size: 12vw;
      }

      #type {
        margin: 50px 0 0;
        font-size: 4vw;
        font-style: italic;
      }

      #definition {
        margin: 50px 0 0;
        font-size: 4vw;
      }

      @media only screen and (max-width: 767px) {
        #word {
          margin: 40px 0 0 0;
          font-size: 18vw;
        }

        #type {
          margin: 10px 0 0;
          font-size: 8vw;
          font-style: italic;
        }

        #definition {
          margin: 20px 0 0;
          font-size: 12vw;
        }
      }
    </style>

    <script type="text/javascript">
      var main = function() {
        // Array of Hex Colors to change background between
        var COLORS = [
          '#1abc9c', '#16a085', '#f39c12', '#2ecc71', '#27ae60', '#e67e22', '#d35400', '#3498db',
          '#2980b9', '#e74c3c', '#c0392b', '#9b59b6', '#8e44ad', '#34495e', '#2c3e50'
        ]
        var body = document.getElementById("body");
        var word_div = document.getElementById("word");
        var type_div = document.getElementById("type");
        var definition_div = document.getElementById("definition");
        window.started = false;

        // Fades out old word and fades in new word and updates page text
        window.presentWord = function(word_obj) {
          fadeOut(word_div);
          fadeOut(type_div);
          fadeOut(definition_div);

          body.style.background = randomColor();

          setTimeout(function() {
            word_div.innerHTML = word_obj.word;
            type_div.innerHTML = "(" + word_obj.type + ")";
            definition_div.innerHTML = word_obj.definition;

            fadeIn(word_div);
            fadeIn(type_div);
            fadeIn(definition_div);
          }, 1000)
        }

        // Helper function to fade out an html element
        window.fadeOut = function(html_element) {
          html_element.classList.remove("fade-in");
          html_element.classList.add("fade-out");
        }

        // Helper function to fade in an html element
        window.fadeIn = function(html_element) {
          html_element.classList.remove("fade-out");
          html_element.classList.add("fade-in");
        }

        // Returns a random hex color from COLORS array
        window.randomColor = function() {
          var index = (Math.random() * (COLORS.length - 1)).toFixed()
          return COLORS[index];
        }

        // Dictionary API Class
        window.Dictionary = {
          BASE_API: 'http://api.wordnik.com/v4',
          API_KEY: '<%= Rails.application.credentials.wordnik_api_key %>'
        }

        // Refreshes global list of words to show
        Dictionary.refreshRandomWords = function() {
          url =
            this.BASE_API +
            '/words.json/randomWords?hasDictionaryDef=true&minDictionaryCount=30&api_key=' +
            this.API_KEY

          $.ajax(
            url,
            {
              success: function(response) {
                window.words = [];
                for(var i = 0; i < response.length; i += 1) {
                  window.words.push(response[i].word);
                }

                if(window.started == false) {
                  Dictionary.getDefinition(window.words.shift());
                  window.started = true;
                }
              }
            }
          )
        }

        // Fetches definition of given word and presents it on finishing the request
        Dictionary.getDefinition = function(word) {
          url = this.BASE_API + '/word.json/' + word +
                '/definitions?use_canonical=true&api_key=' + this.API_KEY

          $.ajax(
            url,
            {
              success: function(response) {
                word_obj = response[0]
                window.presentWord({
                  word: word,
                  type: word_obj.partOfSpeech,
                  definition: word_obj.text
                })
              }
            }
          )
        }

        // Main loop that fetches next word, and gets the definition
        window.loop = function() {
          setInterval(function() {
            if(window.words == undefined || window.words.length <= 0) {
              Dictionary.refreshRandomWords()
            }
            else {
              var currentWord = window.words.shift();
              Dictionary.getDefinition(currentWord);
            }
          }, 8000)
        }

        Dictionary.refreshRandomWords()
        loop();
      }

      window.onload = main;
    </script>
  </head>

  <body id="body">
    <div class="center">
      <p id="word"></p>
      <p id="type"></p>
      <p id="definition"></p>

      <div id="credit">
        Designed by <a href="https://github.com/DylanDavidson">Dylan Davidson</a>
        <br>
        Hosted &amp; Updated by <a href="https://github.com/gellaho">Jamie Gordon</a>
      </div>
    </div>
  </body>
</html>
